@import "vendor";
@import "hide";
@import "mixins";
@import "typography";
@import "variables";

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif !important;
    @media #{$medium-and-down} {
        overflow-x: hidden;
    }
}

.nopadding {
    padding: 0 !important;
}
p {
    margin: 0 !important;
}

@import "home";
