.container--main {
  min-height: 400px;
  background: #4e4e4e;
  padding: 0px $xsmall_padding $xsmall_padding $xsmall_padding;
  margin-top: $default_margin;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.55);
}
.panel {
  min-height: 400px;
  max-height: 90vh;
}

#email-list {

  @media #{$medium-and-down} {
    position: absolute;
    background: #4e4e4e;
    @include zeroBounds();
    z-index: 1;
    @include transition(0.4s ease-in-out);
  }

  .list {
    .list__header {
      padding-left: 2px;
      padding-bottom: 5px;
      padding-top: $xsmall_padding;
      @media #{$medium-and-down} {
        padding-left: 8px;
      }
      span {
        color: $white;
        font-weight: $regular;
      }
    }
    .list__body {
      min-height: 574px;
      max-height: 60vh;
      overflow-y: scroll;
      background: #f8f8ff;
      -webkit-box-shadow: inset -5px 7px 9px -6px rgba(0,0,0,0.55);
      -moz-box-shadow: inset -5px 7px 9px -6px rgba(0,0,0,0.55);
      box-shadow: inset -5px 7px 9px -6px rgba(0,0,0,0.55);
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          padding-left: $xsmall_padding;
          padding-right: $xsmall_padding;
          @include transition(background-color 0.25s);
          &:hover {
            cursor: pointer;
            background: grey;
            span{
              color: $white !important;
              
            }
            .item__right-info span{
              &:first-child {
                opacity: 1!important;
              }
            }
          }
          .item {
            display: flex;
            padding: 5px 0;
            border-bottom: 1px solid #dad9d9;
            -moz-justify-content: space-between;
            -ms-justify-content: space-between;
            -o-justify-content: space-between;
            justify-content:  space-between;

            .item__left-info span{
              display: block;

              &:first-child {
                color: #2B2922;
                font-size: 15px;
                line-height: 28px;
                max-width: 210px;
                @include ellipsis();
              }
              &:last-child {
                color: #666666;
                font-size: 12px;
                max-width: 210px;
                @include ellipsis();
              }
            }
            .item__right-info span{
              &:first-child {
                padding-top: 12px;
                padding-bottom: 18px;
                font-size: $small_padding;
                line-height: 0px;
                opacity: 0;
                &:hover {
                  color: #000!important;
                }
              }
              text-align: right;
              display: block;
              font-size: $xsmall_padding;
            }
          }
        }
      }
    }
  }
}

#email-open {
  @media #{$medium-and-down} {
    position: absolute;
    background: #4e4e4e;
    @include zeroBounds();
    z-index: 1;
    @include transition(0.4s ease-in-out);
  }
  .msg-area {
    padding-left: $xsmall_padding;
    @media #{$medium-and-down} {
      padding: 0;
    }
    .email-open__title {
      padding-left: 2px;
      padding-bottom: 5px;
      padding-top: $xsmall_padding;

      @media #{$medium-and-down} {
        display: flex;
        justify-content: space-between;
        padding: 8px;
      }
      .close-icon {
        font-size: 22px;
        color: $white;
        font-weight: $regular;
        &:hover {
          cursor: pointer;
        }
        @media #{$medium-and-up} {
          display: none;
        }
      }

      span {
        color: $white;
        font-weight: $regular;
      }
    }
    .email-open__message {
      position: relative;
      min-height: 554px;
      max-height: 554px;
      background: $white;
      padding: $xsmall_padding;
      .no-msg {
        position: absolute;
        @include zeroBounds();
        @include flex-center();
        span {
          font-size: $small_size;
          color: grey;
          font-weight: $normal;
        }
      }
      .msg__content {
        position: absolute;
        @include zeroBounds();
        width: 100%;
        padding: $xsmall_margin 0;
        .msg__header {
          font-size: 12px;
          color: #666666;
          padding: 0 $xsmall_margin;
          line-height: 18px;
          label {
            font-weight: 600;
          }
        }
        .msg__body {
          padding: $xsmall_margin;
          overflow-y: scroll;
          max-height: 80%;
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.msg--mobile {

}
.msg--close {
  @media #{$medium-and-down} {
    transform: translateX(100%) !important;
  }
}
.msg--open {
  @media #{$medium-and-down} {
    transform: translateX(0%) !important;
  }
}

.email--read {
  font-weight: 300;
}
.email--unread {
  font-weight: 600;
}