@import 'variables';

@mixin features-bg($bg-url, $has-bg-pos, $bg-pos-x,$bg-pos-y) {

  background: url($bg-url);
  background-size: cover;

  @if $has-bg-pos == true {
    background-position-y: $bg-pos-x $bg-pos-y ;
  }

}

@mixin mediaQuery($point) {
  @if $point == large_devices {
    @media only screen and (#{$large_devices}) {
      @content;
    }
  } @else if $point == medium_devices {
    @media only screen and #{$medium_devices} {
      @content;
    }
  } @else if $point == small_devices {
    @media only screen and #{$small_devices} {
      @content;
    }
  } @else if $point == extra_small_devices {
    @media only screen and (#{$extra_small_devices}) {
      @content;
    }
  } @else if $point == tablet_devices {
    @media only screen and #{$tablet_devices} {
      @content;
    }
  }
}

@mixin background-fullscreen() {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}


@mixin zeroBounds(){
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@mixin flex-center() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin heading-one($text-color) {
  font-size: 46px;
  line-height: 50px;
  color: $text-color;
  font-weight: $regular;

  @media #{$extra-small-and-down}{
    font-size: 18px;
    line-height: 22px;
    //color:#BB6688 !important;
  }

  @media #{$small-and-down}{
    font-size: 18px;
    line-height: 22px;
    //color:red !important;
  }

  @media #{$medium-and-down}{
    font-size: 36px;
    line-height: 40px;
    //color:blue !important;
  }

  @media #{$medium-only}{
    font-size: 40px;
    line-height: 44px;
    //color:green !important;
  }

  @media #{$medium-and-up}{
    font-size: 40px;
    line-height: 44px;
    //color:#7a43b6 !important;
  }

  @media #{$large-and-up}{
    font-size: 40px;
    line-height: 44px;
    //color:darkorange !important;
  }
}

@mixin heading-three($text-color) {
  font-size: 25px;
  line-height: 29px;
  color: $text-color;
  font-weight: $thin;
  @media #{$medium-and-down} {
    font-size: 18px;
    line-height: 22px;
  }
  @media #{$small-and-down} {
    font-size: 11px;
    line-height: 13px;
  }
}

@mixin panel-height($height, $should-center) {

  height: $height;

  @if ($should-center) {
    @include flex-center();
  }

}

@mixin scale1() {
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  &:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin animation-duration($time) {
  animation-duration: $time;
  -webkit-animation-duration: $time;
  -moz-animation-duration: $time;
  -o-animation-duration: $time;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}