<div id="email-open" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 nopadding msg--close" ng-class="{'msg--open': !viewCtrl.closeMsg}">
    <div class="msg-area">
        <div class="email-open__title">
            <span>Message</span>
            <span class="close-icon" ng-click="viewCtrl.closeMsg=true" >×</span>
        </div>
        <div class="email-open__message">
            <div class="no-msg" ng-if="!viewCtrl.emailSelected">
                <span>No Message Selected</span>
            </div>
            <div class="msg__content" ng-if="viewCtrl.emailSelected">
                <div class="msg__header">
                    <div>
                        <span>{{ viewCtrl.email.time_sent | date : 'EEE d MMMM y HH:mm'}}</span>
                    </div>
                    <div>
                        <label>From: </label>
                        <span>{{viewCtrl.email.sender}}</span>
                    </div>
                    <div>
                        <label>Subject: </label>
                        <span>{{viewCtrl.email.subject}}</span>
                    </div>
                    <hr>
                </div>
                <div class="msg__body">
                    <p>{{viewCtrl.email.message}}</p>
                </div>
            </div>
        </div>
    </div>

</div>