<section class="container container--main">
    <div id="email-list" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopadding">

        <div class="list">
            <div class="list__header">
                <span>Inbox</span>
            </div>
            <div class="list__body">
                <ul>
                    <li ui-sref="email-view({id: email.uid})" ng-repeat="email in $ctrl.emails" ng-click="$ctrl.markAsRead(email);" >
                        <div class="item">
                            <div class="item__left-info">
                                <span ng-class="{'email--read': email.read, 'email--unread': !email.read}">{{email.sender}}</span>
                                <span>{{email.subject}}</span>
                            </div>
                            <div class="item__right-info">
                                <span ng-click="$ctrl.deleteEmail(email.uid)" >×</span>
                                <span>{{ email.time_sent | date : 'EEE d MMMM y HH:mm'}}</span>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ui-view></div>
</section>